* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

article {
    @include init-container();

    &.grid {
        @include init-grid();
    }

    @each $name, $color in $colors {
        &.color-#{$name} {
            &:not(.fluid) {
                border-radius: var(--border-size);
            }

            padding: .75rem;
            margin: 1rem auto;
            background-color: #{$color};
            color: $light-color;

            > :not(.transparent) {
                color: var(--text);
            }

            blockquote {
                background-color: $dark-color;
            }

            @if $name == "light" or $name == "lightgray" {
                color: $dark-color;

                blockquote {
                    background-color: $lightgray-color;
                }
            }
        }
    }
}

section {
    background-color: var(--bubble);
    border-radius: var(--border-size);
    box-shadow: 0 0 6px 2px rgba($muted-color, .15);
    margin-bottom: 1rem;
    padding: 1rem;

    @media screen and (max-width: 1000px) {
        margin: 1rem auto;
    }

    &.transparent {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding: .5rem;
        margin: 0;
    }

    &.dashed {
        background-color: transparent;
        box-shadow: none;
        border: 1px dashed var(--color-primary);
        padding: .5rem;
    }

    &:last-child {
        margin-bottom: auto;
    }

    // Fix article inside sections
    > article {
        margin: 1rem !important;
        max-width: none;
    }
}

footer {
    text-align: center;
    font-weight: bold;
    margin: auto .5rem;
    padding: 0 !important;

    ol > li > a:hover {
        background-color: var(--color-primary);

        svg {
            fill: var(--color-light);
        }
    }

    @media screen and (min-width: 1000px) {
        @include init-container();
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}