@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Open Sans", Helvetica, sans-serif !important;
    background-color: var(--background);
    color: var(--text);
}

article {
    @include init-container();

    &.grid {
        @include init-grid();
    }
}

section {
    background-color: var(--bubble);
    border-radius: $border-size;
    box-shadow: 3px 3px var(--color-lightgray);
    border: 1px solid var(--color-lightgray);
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    &.transparent {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        padding: 0;
        margin: 2rem auto;
    }
}

footer {
    text-align: center;
    font-weight: bold;
    margin: auto 1rem;

    ol > li > a:hover {
        background-color: var(--color-primary);
    }

    @media screen and (min-width: 1000px) {
        @include init-container();
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}