* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
    background-color: getColor(background);
    color: getColor(text);
}

article {
    @include init-container();

    &.grid {
        @include init-grid();
    }
}

section {
    background-color: getColor(container);
    border-radius: $border-size;
    box-shadow: 3px 3px $lightgray-color;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    &.transparent {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        padding: 0;
        margin: 2rem auto;
    }
}

footer {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: auto 1rem;

    ol > li > a:hover {
        background-color: $primary-color;
    }

    @media screen and (min-width: 1000px) {
        @include init-container();
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}