$colors: (
    background: $light-color,
    text: $dark-color,
    backText: $lightgray-color,
    button: $lightgray-color,
    backAlpha: rgba($light-color, 0.95),
    container: white,
    listP: darken(white, 5),
    listI: darken(white, 7)
);

$colors-dark: (
    background: $dark-color,
    text: $light-color,
    backText: $gray-color,
    button: $gray-color,
    backAlpha: rgba($dark-color, 0.95),
    container: $gray-color,
    listP: darken($gray-color, 5),
    listI: darken($gray-color, 7)
);

// CSS Color Variables
:root {
    @each $name, $color in $colors {
        --color-#{$name}:#{$color};
    }
}

// Dark Mode!
@media (prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $colors-dark {
            --color-#{$name}:#{$color};
        }
    }
}