$colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "success": $success-color,
    "danger": $danger-color,
    "warning": $warning-color,
    "info": $info-color,
    "light": $light-color,
    "dark": $dark-color,
    "muted": $muted-color,
    "lightgray": $lightgray-color,
);

// CSS Color Variables
:root {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }

    // Theme support
    --bubble: var(--color-light);
    --background: #eee;
    --backgroundTransparent: #eeeeeedd;
    --text: var(--color-dark);
    --list1: #{darken($light-color, 5)};
    --list2: #{darken($light-color, 7)};
    --list: var(--color-lightgray);
    --fields: var(--color-light);

    &[dark="1"] {
        // Dark mode!
        --bubble: var(--color-muted);
        --background: #111;
        --backgroundTransparent: #111d;
        --text: var(--color-light);
        --list1: #{darken($dark-color, 5)};
        --list2: #{darken($dark-color, 7)};
        --list: var(--color-dark);
        --fields: var(--color-dark);
    }
}