@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

* {
    transition: 0.2s;
}

body {
    font-family: 'Oxygen', 'Lucida Sans', Verdana, Geneva, sans-serif;
    background-color: $background-color;
    color: $text-color;
}

section {
    @include make-container();
    @include make-container-max-widths();

    // Grid system
    &[class="grid"] {
        @include make-row();

        > article {
            position: relative;
            width: 100%;
            padding: auto $grid-gutter-width / 2;
            flex-basis: 0;
            flex-grow: 1;
            margin-bottom: 1.5rem;

            h1, h2, h3, h4 {
                text-align: center;
            }

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

    &[class="fluid"] {
        max-width: 100%;
    }
}

article {
    background-color: $container-color;
    border-radius: $border-size;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

footer {
    text-align: center;
    margin: 1.5rem
}

a {
    color: $text-color;
    text-decoration: none;
    outline: none;

    &:hover {
        color: $primary-color;
    }
}

hr {
    width: 95%;
    color: $light-color;
    margin: 1rem auto;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h1 { @include font-size(3.5rem); }

h2 { @include font-size(3rem); }

h3 { @include font-size(2.5rem); }

h4 { @include font-size(2rem); }

p {
    @include font-size(1.2rem);
    margin: 0.5rem auto;
    font-weight: 300;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}