@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: $background-color;
    color: $text-color;
}

article {
    @include make-container();

    // Grid system
    &[class="grid"] {
        @include make-row();

        > section {
            @include make-col();
        }
    }

    &[class="fluid"] {
        max-width: 100%;
    }
}

section {
    background-color: $container-color;
    border-radius: $border-size;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

footer {
    text-align: center;
    margin: 1.5rem;

    @media screen and (min-width: 1000px) {
        @include make-container();
        display: flex;
        flex-wrap: wrap;

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }

        small {
            margin: 1rem;
        }

        ol {
            margin: 0;
        }
    }
}

a {
    color: $text-color;
    text-decoration: none;
    outline: none;

    &:hover {
        color: $primary-color;
    }
}

hr {
    width: 95%;
    color: $light-color;
    margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5rem;
    font-weight: 700;
}

.codeSnippet {
    background-color: lighten($color: $background-text-color, $amount: 10);
    padding: 1.5rem !important;
    border-radius: $border-size;
}

h1 { @include font-size(3.5rem); }

h2 { @include font-size(3rem); }

h3 { @include font-size(2.5rem); }

h4 { @include font-size(2rem); }

h5 { @include font-size(1.5rem); }

h6 { @include font-size(1rem); }

p {
    @include font-size(1.2rem);
    margin: .5rem;
    font-weight: 300;
}

b {
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

// Material icons position fix
.material-icons {
    display: inline-flex;
    vertical-align: middle;
}