@mixin formBasis {
    background-color: $light-color;
    border-radius: $border-size;
    border: 1px #ddd solid;
    padding: .5rem 1rem;
    margin: .25rem auto;
}

@mixin buttonBasis {
    background-color: lighten($color: $button-color, $amount: 15);
    color: $text-color;

    &:hover {
        color: $light-color;
        background-color: $primary-color;
        cursor: pointer;
    }
}

form {
    input {
        @include formBasis();

        &:not([type=submit]), &:not([type=reset]), &:not([type=button]) {
            width: 100%;
        }

        &[type=color] {
            border: none;
            padding: 0;
        }

        &[type=checkbox], &[type=radio] {
            margin: .5rem 1rem;
            width: auto;
        }

        &[type=button], &[type=submit], &[type=reset] {
            @include buttonBasis();
        }
    }

    .group {
        @include make-row();

        > fieldset {
            @include make-col();
        }
    }
}

button {
    width: 100%;
    @include formBasis();
    @include buttonBasis();
}

textarea {
    @include formBasis();
    padding: 1.5rem;
    max-width: 100%;
}