form {
  input[type="text"],
  input[type="url"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"] {
    @include form-baseStyle();
    padding: .5rem 1rem;
  }

  textarea {
    @include form-textarea();
  }

  select {
    @include form-select();
  }

  select[multiple] {
    @include form-selectMultiple();
  }

  input[type="radio"],
  input[type="checkbox"] {
    @include form-checkRadio();
  }

  input[type="submit"] {
    @include form-buttonSubmit();
  }

  input[type="button"],
  input[type="reset"],
  button {
    @include form-button();
  }

  .group {
    @include init-grid();
  }

  fieldset {
    border: none;
  }
}
