@media screen and (max-width: 600px) {
    .header {
        visibility: hidden;
        display: none;
    }
}

.header {
    background-color: color(background);
    border-style: none;
    padding: auto 5em;
    height: 300px;
    text-align: center;

    img {
        float: left;
        max-width: 256px;
        max-height: 256px;
    }

    h1 {
        margin: 50px auto 0.3em auto;
        font-weight: 700;
        font-size: 5em;
        font-variant-caps: all-petite-caps;
    }

    h2 {
        background-color: color(back-text);
        display: inline-block;
        width: auto;
        padding: 0.5em;
        border-radius: $border-size;
        font-weight: 300;
        font-size: 2em;
    }
}