header {
    @include make-container();
    background-color: $background-color;
    border-style: none;
    text-align: center;
    padding-bottom: 1.5rem;

    img {
        max-width: 256px;
        max-height: 256px;
    }

    h1 {
        margin: 0.5rem auto;
        font-weight: 700;
        @include font-size(4rem);
        text-transform: uppercase;
    }

    h2 {
        background-color: $background-text-color;
        display: inline-block;
        width: auto;
        padding: 0.75rem;
        border-radius: $border-size;
        font-weight: 300;
        @include font-size(2rem);
    }

    @media screen and (min-width: 1000px) {
        padding: 4rem 3rem;

        img {
            float: left;
        }

        h1 {
            margin: 50px auto 1rem auto;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}