@mixin gradientBase {
    h1 {
        display: table;
        background-color: getColor(backAlpha);
        padding: 0.75rem;
        border-radius: $border-size;
    }
}

$gradientColors: $primary-color, $secondary-color, $dark-color, $light-color, $gray-color;

header {
    @include init-container();

    > * {
        display: block;
        text-align: center;
        margin: 1rem auto;
    }

    img {
        width: 100%;
        max-width: 256px;
        max-height: 256px;
    }

    h1 {
        @include font-size(4.5rem);
        text-transform: uppercase;
    }

    h2 {
        background-color: getColor(backText);
        padding: 0.75rem;
        border-radius: $border-size;
        font-weight: normal;
        @include font-size(2rem);
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template:
            'logo text'
            'logo subText';
        padding: 3rem;

        > * {
            display: inline-block;
            margin: auto;
        }
        
        img {
            grid-area: logo;
        }

        h1 {
            grid-area: text;
            display: flex;
            align-items: center;
        }

        h2 {
            grid-area: subText;
        }
    }

    @for $i from 1 through 5 {
        &.gradient-#{$i} {
            background-image: linear-gradient(to bottom right, nth($gradientColors, $i), darken(nth($gradientColors, $i), 25));
            @include gradientBase();
        }
    }
}

#headerTitle {
    text-align: center;
    @include font-size(3.5rem);
    padding: .5rem;
    margin: 3rem auto;
}
