header {
    @include init-container();

    > * {
        display: block;
        text-align: center;
        margin: 1rem auto;
    }

    h1 {
        @include font-size(4rem);
    }

    h2 {
        background-color: var(--listBack);
        padding: 1rem;
        width: fit-content;
        border-radius: var(--border-size);
        font-weight: normal;
        @include font-size(1.5rem);
    }

    img {
        width: 100%;
        max-width: 256px;
        max-height: 256px;
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        padding: 3rem;

        > * {
            display: inline-block;
            margin: auto;
        }

        h1 {
            @include font-size(4.5rem);
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        h2 {
            @include font-size(2rem);
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        img {
            grid-column: 1 / 2;
            grid-row: 1 / span 2;
        }

        &:not(.withImage) {
            grid-template-columns: 0 100%;
        }
    }

    @each $name, $color in $colors {
        &.gradient-#{$name} {
            @include gradients($color);

            @if $name == "dark" {
                color: var(--color-light);
            }
        }
    }
}

#headerTitle {
    text-align: center;
    @include font-size(3.5rem);
    padding: .5rem;
    margin: 3rem auto;
}
