@mixin gradients($color) {
    border-radius: $border-size;
    background-image: linear-gradient(to bottom right, $color, darken($color, 25));

    h1 {
        display: table;
        background-color: rgba($light-color, .5);
        padding: 0.75rem;
        border-radius: $border-size;
    }
}

header {
    @include init-container();

    &.withImage {
        img {
            width: 100%;
            max-width: 256px;
            max-height: 256px;
        }
    }

    > * {
        display: block;
        text-align: center;
        margin: 1rem auto;
    }

    h1 {
        @include font-size(4rem);
        text-transform: uppercase;
    }

    h2 {
        background-color: var(--list);
        padding: 1rem;
        border-radius: $border-size;
        font-weight: normal;
        @include font-size(1.5rem);
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template:
            'text'
            'subText';
        padding: 3rem;

        > * {
            display: inline-block;
            margin: auto;
        }

        &.withImage {
            grid-template:
            'logo text'
            'logo subText';

            img {
                grid-area: logo;
            }
        }

        h1 {
            @include font-size(4.5rem);
            grid-area: text;
        }

        h2 {
            @include font-size(2rem);
            grid-area: subText;
        }
    }

    @each $name, $color in $colors {
        &.gradient-#{$name} {
            @include gradients($color);

            @if $name == "light" {
                color: var(--color-dark);
            }
        }
    }
}

#headerTitle {
    text-align: center;
    @include font-size(3.5rem);
    padding: .5rem;
    margin: 3rem auto;
}
