@mixin gradientBase {
    h1 {
        display: table;
        background-color: rgba($color: $background-color, $alpha: 0.7);
        padding: 0.75rem;
        border-radius: $border-size;
    }
}

$gradientColors: $primary-color, $secondary-color, $dark-color, $light-color, $gray-color;

header {
    @include make-container();
    background-color: $background-color;
    border-radius: $border-size;
    border-style: none;
    text-align: center;
    padding: 1.5rem;

    img {
        max-width: 100%;
    }

    h1 {
        margin: 1rem auto;
        font-weight: 700;
        @include font-size(4rem);
        text-transform: uppercase;
    }

    h2 {
        display: table;
        background-color: $background-text-color;
        padding: 0.75rem;
        border-radius: $border-size;
        font-weight: 300;
        margin: auto;
        @include font-size(2rem);
    }

    @media screen and (min-width: 1000px) {
        padding: 4rem 3rem;

        img {
            float: left;
            max-width: 256px;
            max-height: 256px;
        }

        h1 {
            padding-top: 3rem;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @for $i from 1 through 5 {
        &.gradient-#{$i} {
            background-image: linear-gradient(to bottom right, nth($gradientColors, $i), darken(nth($gradientColors, $i), 25));
            @include gradientBase();
        }
    }
}

#headerTitle {
    text-align: center;
    @include font-size(3.5rem);
    padding: .5rem;
    background-color: $background-color;
    position: sticky;
    top: 0;
    margin: 1.5rem -5rem;
}