header {
    @include make-container();
    background-color: $background-color;
    border-radius: $border-size;
    border-style: none;
    text-align: center;
    padding: 1.5rem;

    img {
        max-width: 256px;
        max-height: 256px;
    }

    h1 {
        margin: 1rem auto;
        font-weight: 700;
        @include font-size(4rem);
        text-transform: uppercase;
    }

    h2 {
        display: table;
        background-color: $background-text-color;
        padding: 0.75rem;
        border-radius: $border-size;
        font-weight: 300;
        margin: auto;
        @include font-size(2rem);
    }

    @media screen and (min-width: 1000px) {
        padding: 4rem 3rem;

        img {
            float: left;
        }

        h1 {
            padding-top: 3rem;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &.full {
        background-size: cover;
        min-height: 256px;

        h1 {
            display: table;
            background-color: rgba($color: $background-color, $alpha: 0.7);
            padding: 0.75rem;
            border-radius: $border-size;
        }
    }
}