ol {
    @include listsBase();
    background-color: var(--listBack);
    list-style: none;
    margin: 1rem auto;

    > li {
        width: 100%;
        text-align: center;
        padding: 1rem;

        > a {
            color: var(--text);
            padding: 1rem;
            margin: -1rem;
        }
    }

    @media screen and (min-width: 500px) {
        display: flex;
        flex-wrap: wrap;
        width: 70%;

        > li {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}

section,
article {
    > ul {
        @include listsBase();
        background-color: var(--listCouple);

        > li {
            padding: 1.5rem;

            &:nth-child(odd) {
                background-color: var(--listOdd);
            }

            > a {
                padding: 1.5rem;
                margin: -1.5rem;
            }
        }
    }
}

section.transparent > ul {
    border: 1px solid var(--listBack);
}