ol {
  background-color: $lightgray-color;
  border-radius: $border-size;
  color: $dark-color;
  margin: 1rem auto;
  overflow: hidden;

  > li {
    width: 100%;
    text-align: center;
    padding: 1rem;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
      cursor: pointer;
    }

    > a {
      color: $dark-color;

      &:hover {
        color: $light-color;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    display: flex;
    flex-wrap: wrap;

    > li {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

section, article {
  > ul {
    background-color: darken($container-color, $amount: 5);
    border-radius: $border-size;
    overflow: hidden;

    > li {
      padding: 1.5rem;

      &:nth-child(odd) {
        background-color: darken($container-color, $amount: 7);
      }

      &:hover {
        background-color: $primary-color;
        color: $light-color;
        cursor: pointer;
      }

      > a:hover {
        color: $light-color;
      }
    }
  }
}
