@mixin menuMobile {
    padding: 0 1rem;

    > li {
        display: block;
        padding: 1rem;

        a {
            display: block;
        }
    }
}

@mixin menuDesktop($right: false) {
    padding: 1rem;

    > li {
        display: inline-block;

        @if $right {
            color: white;
        }

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}

nav {
    background-color: var(--backgroundTransparent);
    @include font-size(.9rem);
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar-title {
        display: inline-block;
        background-color: var(--color-primary);
        color: var(--color-light) !important;
        border-radius: 0 0 $border-size 0;
        padding: 1rem;
        transition: background .1s;

        &:hover {
            background-color: var(--color-secondary);
        }
    }

    .navbar-menu {
        display: inline-block;
        @include menuDesktop();

        > li {
            color: var(--text);
        }
    }

    .navbar-right-menu {
        float: right;
        background-color: var(--color-secondary);
        border-radius: 0 0 0 $border-size;

        @include menuDesktop(true);
    }

    svg {
        margin-right: .25rem;
    }

    @media screen and (max-width: 700px) {
        position: initial;
        border-radius: 0 0 $border-size $border-size;

        .navbar-title, .navbar-menu {
            display: block;
            border-radius: 0 0 $border-size $border-size;
        }

        .navbar-title {
            position: sticky;
            top: 0;
            text-align: center;
        }

        .navbar-menu {
            @include menuMobile();
            border-radius: 0 0 $border-size $border-size;
            box-shadow: 0 16px var(--color-secondary);
        }

        .navbar-right-menu {
            @include menuMobile();
            text-align: center;
            float: none;
        }
    }
}