@mixin menuMobile {
    padding: 0;

    *:hover {
        background-color: var(--color-lightgray);
        color: white !important;
    }

    > li {
        display: block;
        padding: 1rem;

        /* Bottom Borders */
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var(--color-muted);

        a {
            display: block;
            
            /* TODO: Find another way for links in menu */
            margin: -1rem;
            padding: 1rem;
        }
    }
}

@mixin menuDesktop($right: false) {
    padding: 1rem;

    > li {
        display: inline-block;

        @if $right {
            color: white;
        }

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}

nav {
    background-color: var(--backgroundTransparent);
    @include font-size(.9rem);
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar-title {
        display: inline-block;
        background-color: var(--color-primary);
        color: var(--color-light) !important;
        border-radius: 0 0 $border-size 0;
        padding: 1rem;

        &:hover {
            background-color: var(--color-secondary);
        }
    }

    .navbar-menu {
        display: inline-block;
        @include menuDesktop();

        > li {
            color: var(--text);
        }
    }

    .navbar-right-menu {
        float: right;
        background-color: var(--color-secondary);
        border-radius: 0 0 0 $border-size;

        @include menuDesktop(true);
    }

    svg {
        margin-right: .25rem;
    }

    @media screen and (max-width: 1000px) {
        position: initial;
        text-align: center;

        .navbar-title, .navbar-menu {
            display: block;
            border-radius: 0;
        }

        .navbar-title {
            position: sticky;
            top: 0;
        }

        .navbar-menu {
            @include menuMobile();
        }

        .navbar-right-menu {
            @include menuMobile();
            float: none;
            background-color: var(--background);

            > li, a {
                color: var(--text);
            }
        }
    }
}