header {
    padding: 1.5rem;
    margin: .5rem;
    font-variant-caps: all-petite-caps;

    .navbar-title, .navbar-menu {
        display: inline;
    }

    .navbar-title {
        background-color: $primary-color;
        padding: 1rem;
        color: $light-color !important;
        border-radius: $border-size;

        &:hover {
            background-color: $secondary-color;
        }
    }

    .navbar-menu {
        padding-left: 1.5rem;

        > li {
            display: inline-block;
            color: $text-color;
            padding-right: 1rem;
        }
    }

    .navbar-right-menu {
        @extend .navbar-menu;
        float: right;
    }

    @media screen and (max-width: 1000px) {
        margin: .25rem;

        .navbar-title, .navbar-menu {
            display: block;
            text-align: center;
        }

        .navbar-menu {
            padding: 0;
            margin-top: .5rem;

            > li {
                display: block;
                padding: .3rem;
            }
        }

        .navbar-right-menu {
            float: none;
        }

        #darkToggle::after {
            content: "Dark Mode";
        }
    }
}