.redBanner {
    @include bannerStyle($secondary-color);
}

.blueBanner {
    @include bannerStyle($primary-color);
}

img.roundered {
    border: 1px solid $lightgray-color;
    border-radius: $border-size;
}

article.center {
    text-align: center;
}