.styledTitle {
    position: relative;
    color: white;
    text-align: center;
    margin: 6rem;

    &:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 12rem;
        left: -50%;
        top: calc(-50% - 1.5rem);
        background-color: $secondary-color;
        transform: rotate(2deg);
        z-index: -1;
    }
}