img.rounded {
    border: 1px solid var(--color-lightgray);
    border-radius: var(--border-size);
}

article.center, section.center {
    text-align: center;
}

@each $name, $color in $colors {
    p.alert-#{$name} {
        @include alerts($color);

        @if $name == "light" or $name == "lightgray" {
            color: var(--color-dark);
        }
    }
}