.hljs {
    display: block;
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid #555;
    border-radius: $border-size;
    background: lighten($dark-color, 5);
    margin: 1rem auto;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: white;
}

.hljs,
.hljs-subst {
  color: $lightgray-color;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: lighten($primary-color, 20);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: lighten($gray-color, 5);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}