progress {
    @include disableAppareance();
    border-radius: $border-size;
    border: 1px solid var(--color-lightgray);
    width: 100%;
    overflow: hidden;

    // Firefox
    &[value]::-moz-progress-bar {
        @include defaultBar();
    }
    &:not([value])::-moz-progress-bar {
        @include indeterminedBar();
    }

    // Chromium
    &[value]::-webkit-progress-value {
        @include defaultBar();
    }
    &:not([value])::-webkit-progress-bar {
        @include indeterminedBar();
    }

    // Edge Legacy
    &[value]::-ms-fill {
        @include defaultBar();
    }
    &:not([value])::-ms-fill {
        @include indeterminedBar();
    }
}

@keyframes progressAnim {
    from  { background-color: var(--color-primary); }
    to  { background-color: var(--color-secondary); }
}