// Colors
$primary-color: #0062ff;
$secondary-color: #ba0000;
$dark-color: #222020;
$light-color: #f1f2f6;
$gray-color: #555;
$lightgray-color: #D6D6D6;

// Design
$border-size: 1rem;
$container-padding: 1rem;

// Sassy inputs
$sassy-accent-color: $primary-color;