// Colors
$primary-color: #2962ff;
$secondary-color: #d50000;
$success-color: #2e7d32;
$danger-color: #b71c1c;
$warning-color: #f57f17;
$info-color: #039be5;
$light-color: #f5f5f5;
$dark-color: #212121;
$muted-color: #424242;
$lightgray-color: #bdbdbd;

// Design
$border-size: .5rem;
$container-padding: 1rem;