@import "variables";

// Modules
@import "../node_modules/normalize.css/normalize";
@import "../node_modules/rfs/scss";

// Mixin
@import "./mixins/container";
@import "./mixins/forms";
@import "./mixins/styles";
@import "./mixins/progress";
@import "./mixins/list";
@import "./mixins/navbar";

// Design
@import "colors";
@import "body";
@import "typo";
@import "navbar";
@import "header";
@import "forms";
@import "lists";
@import "newStyle";
@import "progress";
@import "fixes";