*
    transition: 0.2s
    
body
    margin: 0
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    background-color: $light-color

section
    padding: 0 1em

article
    background-color: white
    border-radius: 3em
    border-color: #ddd
    border-style: solid
    border-width: 1px
    margin-bottom: 1.5em
    padding: 1.5em

footer
    text-align: center

a
    color: $dark-color
    text-decoration: none
    
    &:hover
        color: $primary-color

hr
    width: 95%
    color: $light-color

/* Dark mode */
.dark-container
    background-color: $dark-color
    color: $light-color

    article
        background-color: $darken-color
        border-style: none

    .navbar-menu *
        color: $light-color

    .banner
        background-color: $dark-color

    a
        color: $light-color