<footer>
    <p>Made with  {% fa_svg fas.fa-heart %} by SavanDev - 2019 / {{ site.time | date: '%Y' }}</p>
    <ol>
        <li><a href="https://github.com/SavanDev/cleanify-design/blob/master/LICENSE">
                {% fa_svg fas.fa-gavel %} MIT License</a></li>
        <li><a href="https://github.com/SavanDev/cleanify-design">
                {% fa_svg fab.fa-github %} GitHub</a></li>
        <li><a href="https://twitter.com/dylnavas36">
                {% fa_svg fab.fa-twitter %} Twitter</a></li>
    </ol>
</footer>
<script src="{{ "/assets/js/cleanify.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
{% fa_svg_generate %}