<nav>
    <a href="{{ site.baseurl }}/" class="navbar-title">Cleanify Design</a>
    <ul class="navbar-menu">
        {% for tPage in site.data.pages %}
            <li><a href="{{ tPage.url | relative_url }}">{% fa_svg tPage.icon %} {{ tPage.name }}</a></li>
        {% endfor %}
    </ul>
    <ul class="navbar-right-menu">
        <li>v{{ site.data.versions.latest.version }}</li>
        {% if page.lts == nil %}
            <li id="darkToggle">{% fa_svg fas.fa-lightbulb %}</li>
        {% endif %}
    </ul>
</nav>