// Container and grid system

@mixin init-container {
    padding: $container-padding;
    margin: auto;
    max-width: 85vw;

    @media screen and (max-width: 1000px) {
        max-width: 100vw;
    }

    &[class="fluid"] {
        max-width: 100vw;
    }
}

@mixin init-grid {
    display: flex;
    flex-wrap: wrap;

    > section {
        flex-basis: 0;
        flex-grow: 1;

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}