// Container and grid system

@mixin init-container {
    padding: $container-padding;
    margin: auto;
    max-width: 100vw;

    @media screen and (min-width: 1000px) {
        max-width: 85vw;
    }

    @media screen and (min-width: 1500px) {
        max-width: 70vw;
    }

    &.fluid {
        max-width: 100vw;
    }
}

@mixin init-grid($form: false) {
    @media screen and (min-width: 1000px) {
        display: flex;
        flex-wrap: wrap;

        > section,
        fieldset,
        article {
            flex-basis: 0;
            flex-grow: 1;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}
