@mixin listsBase {
    border-radius: $border-size;
    overflow: hidden;
    margin: 1rem auto;

    > li {
        > a {
            display: block;
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-light);
                
                svg {
                    fill: var(--color-light);
                }
            }
        }
    }
}