@mixin bannerStyle($color) {
    position: relative;
    color: white;
    text-align: center;
    margin: 1rem 0;
    padding: 6rem 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    &:before {
        content: "";
        position: absolute;
        width: 200vw;
        height: 12rem;
        left: -50%;
        top: 2rem; // TODO: Margin x2 ¿?.
        background-color: $color;
        transform: rotate(2deg);
        z-index: -1;
    }

    @media screen and (max-width: 1000px) {
        @include font-size(3rem);
    }
}

@mixin alerts($color) {
    background: $color;
    border-radius: $border-size;
    color: white;
    padding: .5rem 1rem;
}