---
---

#containerExample {
    background-color: dodgerblue;
    height: 120px;
    margin: 1.5rem 5rem;
    border-radius: 2rem;
}

#containerFluidExample {
    background-color: dodgerblue;
    height: 120px;
    margin: 1.5rem auto;
    border-radius: 2rem;
}

#containerTransparentExample {
    height: 120px;
    margin: 1.5rem auto;
    border-radius: 2rem;
    border: 1px dashed dodgerblue;
}

.gridExample {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    margin: 1rem auto;
}

.gridExample div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: dodgerblue;
    border-radius: 2rem;
    margin: .5rem;
}

svg {
    display: inline-block;
    max-width: 18px;
    max-height: 18px;
    margin-top: -4px;
    margin-right: .25rem;
    vertical-align: middle;
}

.highlight {
    > pre {
        border: 1px solid var(--color-muted);
    }

    pre {
        padding: .3rem;
        border-radius: 1rem;
        color: white;
    }

    .language-console {
        padding: 1rem;

        .nb {
            font-weight: bold;
        }
    }

    .lineno {
        background-color: #222;
        color: #666;
        text-align: center;
        margin-right: .1rem;
    }

    * {
        font-family: "Roboto", "Open Sans", Helvetica, sans-serif !important;
    }
}

#darkToggle {
    &:hover {
        cursor: pointer;
    }
}

#docsMenu {
    max-width: 25rem;

    @media screen and (max-width: 1000px) {
        max-width: initial;
    }
}