---
---

svg {
    display: inline-block;
    max-width: 18px;
    max-height: 18px;
    margin: -4px 0.1rem 0 0;
    vertical-align: middle;
    fill: var(--color-text);
}

a:hover svg {
    fill: #0062ff;
}

footer ol > li > a {
    &:hover svg {
        fill: white;
    }

    svg {
        fill: #222020;
    }
}

.highlight {
    pre {
        padding: .3rem;
        border-radius: 1rem;
        color: white;
    }

    .language-console {
        padding: 1rem;

        .nb {
            font-weight: bold;
        }
    }

    .lineno {
        background-color: #222;
        color: #666;
        text-align: center;
        margin-right: .1rem;
    }

    * {
        font-family: 'Liberation Mono', Arial, Helvetica, sans-serif;
    }
}

#darkToggle {
    fill: var(--text);

    &:hover {
        fill: var(--color-warning);
        cursor: pointer;
    }
}