#darkToggle { color: var(--text) }

#darkToggle:hover {
  color: var(--color-warning);
  cursor: pointer;
}

#containerExample {
    background-color: dodgerblue;
    height: 120px;
    margin: 1.5rem 5rem;
    border-radius: 2rem;
}

#containerFluidExample {
    background-color: dodgerblue;
    height: 120px;
    margin: 1.5rem auto;
    border-radius: 2rem;
}

#containerTransparentExample {
    height: 120px;
    margin: 1.5rem auto;
    border-radius: 2rem;
    border: 1px dashed dodgerblue;
}

.gridExample {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    margin: 1rem auto;
}

.gridExample div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: dodgerblue;
    border-radius: 2rem;
    margin: .5rem;
}

#docsMenu {
    max-width: 25rem;
}

@media screen and (max-width: 1000px) {
    #docsMenu {
        max-width: initial;
    }
}

#docsMenu > ul {
    position: sticky;
    top: 4rem;
}

#docsMenu a > svg {
	width: 20px;
	margin-right: .5rem;
}

/* Highlight React */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background: var(--color-dark);
    margin: 1rem auto;
}

.hljs,
.hljs-subst {
  color: var(--color-light);
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--color-primary);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: var(--color-muted);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}